// TODO: Refactor.

@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;

    .post-title, .post-meta {
      display: block;
      width: auto;
      text-align: left;
    }
  }
}

.posts-collapse {
  position: relative;
  z-index: $zindex-1;

  .collection-year {
    position: relative;
    &::after {
      content: " ";
      position: absolute;
      top: 78px;
      bottom: 13px;
      left: -2px;
      width: 4px;
      background: rgba(151, 223, 253, 0.1);
      z-index: $zindex-bottom;
    }
  }

  margin-left: $posts-collapse-left;
  +mobile() { margin: 0 20px; }

  .collection-title {
    position: relative;
    margin: 30px 0;

    small { color: $grey; margin-left: 5px; }

  }

  .post { margin: 30px 0; }

  .post-header {
    position: relative;
    margin-bottom: 10px;
    line-height: 28px;

    &::before {
      content: " ";
      position: absolute;
      left: 0;
      top: 10px;
      width: 6px;
      height: 6px;
      margin-left: -4px;
      background: $main-color;
      circle();
      border: 1px solid white;
      the-transition();
      transition-property: background;
    }
  }

  .post-header:hover {
    border-bottom-color: $grey-dim;
  }

  .post-meta {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 0px;
  }

  .post-comments-count { display: none; }

  .post-title {
    margin: 0 0 0 70px;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;

    &::after {
      margin-left: 3px;
      opacity: 0.6;
    }

    a {
      color: $grey-dim;
      border-bottom: none;

      &:hover {
        color: #222;
      }
    }
  }

  .category-list-item {
    display: inline;
  }

  .category-all-title.category-all-title {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
  }

  .post-collapse-title {
    color: #444;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
  }
}
