.posts-expand .post-title {
  text-align: center;
  word-break: break-word;
  font-weight: $posts-expand-title-font-weight
}
.posts-expand .post-title-link {
  display: inline-block;
  position: relative;
  color: $black-light;
  border-bottom: none;
  line-height: 1.2;
  vertical-align: top;

  .fa { font-size: 16px; }
}
