.feed-link {
  margin-top: 20px;

  a {
    display: inline-block;
    color: rgb(252, 100, 35);
    border: 1px solid rgb(252, 100, 35);
    border-radius: 4px;

    i {
      font-size: 14px;
      vertical-align: middle;
      margin-right: 2px;
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      color:white;
      background: rgb(252, 100, 35);

      i { color: white; }
    }
  }
}
