.archive,
.category {
  .posts-collapse {
    z-index: 0;
  }

  .collection-title {
  }

  .post {
    padding: 0;
    margin: 0;
    background: none;
  }
}

.archive,
.tag {
  .posts-collapse {
    z-index: 0;
  }

  .collection-title {
  }

  .post {
    padding: 0;
    margin: 0;
    background: none;
  }
}

.category .collection-title {
  margin-top: 30px;
}
