.site-brand-wrapper {
  position: relative;
  height: 650px;
  background-image: url(https://diygod.b0.upaiyun.com/header-sagiri.jpg);
  width: 100%;
  background-size: cover;
  background-position: center 50%;
  background-repeat: no-repeat;
}

.site-meta {
  padding: 20px 0;
  color: white;

  +tablet() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
  +mobile() {
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
  }
}

.brand {
  padding: 0;
  background: none;

  &:hover { color: white; }
}

.site-subtitle {
  margin: 10px 10px 0;
  font-weight: initial;
}

.site-search form { display: none; }
