.posts-expand {
  padding-top: 0;

  .post-title-link,
  .post-title {
    color: #444;
    font-size: 25px;
    font-weight: 700;
  }

  .post-meta {
    color: #555;
    margin-top: 5px;

    +mobile() {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.post {
  position: relative;
  padding: $content-desktop-padding;
  background: #fff;
  margin-bottom: 40px;
  border-radius: 5px;

  +mobile() {
    padding: 40px 20px;
    border-radius: 0;
  }
}

.post-date {
  background-color: $main-color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  position: absolute;
  top: -20px;
  left: -30px;
  height: 60px;
  width: 70px;
  padding-top: 10px;
  border-radius: 100px;
  color: #fff;
  text-align: center;
  line-height: 1.1;

  +mobile() {
    display: none;
  }

  .post-day {
    font-size: 30px;
    font-weight: 700;
  }
}

.post-badge {
  position: absolute;
  left: -16px;
  top: 105px;
  border-color: $second-color;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  background-color: $main-color;
  margin: 5px 0 15px 2px;
  font-size: 14px;
  border-radius: 0 4px 4px 0;
  display: inline-block;
  padding: 7px 11px 7px 32px;
  line-height: 1;

  +mobile() {
    display: none;
  }

  a {
    color: #fff;
  }

  &:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    border-top: 0 solid transparent;
    border-right-width: 1em;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom: 1em solid transparent;
    border-left: 0 solid transparent;
    width: 0;
    height: 0;
  }
}

.pagination {
  margin: 20px 0;
  border-top: none;
  background: #fff;
  padding: 15px 0;
  border-radius: 5px;

  .page-number {
    background: #fff;
    color: $main-color;
    border-radius: 5px;
    border: 1px solid $main-color;

    &:hover {
      background: $main-color;
      color: #fff;
      border-top-color: $main-color;
      border-bottom-color: $main-color;
    }

    &.current {
      background: $main-color;
      border: 1px solid $main-color;
    }
  }

  .extend {
    border-top: none;
    color: $main-color;
    border: none;
    &:hover {
      border-top: none;
    }
  }
}

#rewardButton {
  span {
    background: #e26d6d;
    height: 34px;
    width: 80px;
    border-radius: 4px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
}

#wechat {
  color: #44b549;

  &:hover {
    p {
      animation: none;
    }
  }
}

#alipay {
  color: #00a0e9;

  &:hover {
    p {
      animation: none;
    }
  }
}

.post-nav-item .fa {
  top: 50%;
  transform: translateY(-50%);
}

.comments {
  background: #fff;
  margin: 0;
  padding: 40px;
  border-radius: 5px;

  +mobile() {
    border-radius: 0;
  }
}

.disqus-loading {
  p {
    margin: 0;
    font-size: 12px;
  }
}

.social-share {
  +mobile() {
    font-size: 14px;
  }
}

.post-header {
  margin-bottom: 20px;
}
