.use-motion .sidebar .motion-element { opacity: 1; }

.sidebar {
  margin: 0;
  background: #fff;
  border-radius: 5px;

  // Do NOT delete this line
  // or Affix (position: fixed) will not work in Google Chrome.
  -webkit-transform: none;
}


.sidebar-inner {
  padding: 20px 16px;
  box-sizing: border-box;
  width: 100%;
  color: $text-color;
  background: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border-radius: 5px;
  z-index: 2;
  if (hexo-config('motion.enable') and hexo-config('motion.transition.sidebar')) { opacity: 0; }

  &.affix {
    position: fixed;
    top: $sidebar-offset;
    width: $sidebar-desktop;
  }

  &.affix-bottom {
    position: absolute;
    width: $sidebar-desktop;
  }

}

.site-overview {
  text-align: left;
}

.site-author {
  clearfix();
  position: relative;
}

.site-author-image {
  max-width: none;
  width: 100%;
  border: none;
  padding: 0;
}

.site-author-name {
  position: absolute;
  bottom: 36px;
  margin: 0 0 0 -65px;
  font-size: 20px;
  letter-spacing: .5px;
  color: #FF9800;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
  font-weight: 700;
  width: 130px;
  left: 50%;
}

.site-description {
  font-size: 14px;
  margin: 7px 0;
  font-weight: 700;
  color: #555;
}

.sidebar a {
  color: $black-light;

  &:hover { color: $link-hover-color; }
}

.site-state-item {
  padding: 0 10px;
}

.links-of-author-item {
  a:before { display: none; }
  a {
    border-bottom: none;
    text-decoration: underline;
  }
}

.feed-link {
  text-align: center;
  margin: 10px 0 10px;
  display: flex;

  a {
    display: inline-block;
    border: none;
    flex: 1;

    &:hover {
      background: none;
    }
  }

  .feed-rss {
    color: $orange;

    &:hover {
      color: darken($orange, 20%);

      i { color: darken($orange, 20%); }
    }
  }

  .feed-email {
    color: #48c7fb;

    &:hover {
      color: darken(#48c7fb, 20%);

      i { color: darken(#48c7fb, 20%); }
    }
  }
}

.links-of-author {
  //clearfix();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 10px;
}
.links-of-author-item {
  sidebar-inline-links-item();

  a {
    display: block;
    text-decoration: none;
    overflow: visible;
  }

  i {
    font-size: 12px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    color: rgba(0,0,0,.5);
    fill: rgba(0,0,0,.5);
    background-color: rgba(230,244,249,.8);
    transition: all .3s ease-in-out;
    font-style: normal;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content:center;
    padding: 0 10px;

    &:before,
    svg {
      font-size: 18px;
      margin-right: 5px;
    }

    svg {
      width: 18px;
    }

    span {
      color: rgba(0,0,0,.5);
    }
  }
  .fa-globe { font-size: 15px; }
}


.links-of-blogroll {
  text-align: center;
  margin-top: 20px;
  padding: 3px 0 0;
  border-top: 1px dotted $grey-light;
}
.links-of-blogroll-title { margin-top: 0; }
.links-of-blogroll-item { padding: 0; }
.links-of-blogroll-inline {
  clearfix();

  .links-of-blogroll-item {
    sidebar-inline-links-item();
    display: inline-block;
    if !hexo-config('social_icons.icons_only') { width: unset; }
  }
}

.fa-more:before {
    content: "∙∙∙";
}

.post-toc .nav .nav-child {
  display: block;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    right: 50px;
    top: -900px;
    z-index: 2;
    width: 70px;
    height: 900px;
    transition: all .5s ease-in-out;
    opacity: 1;
}

.views-top-name {
  font-weight: bold;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.views-top {
  padding: 0;
  font-size: 12px;
  margin-bottom: 0;

  a {
    color: #444;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    height: 30px;
  }
}

.views-top-title {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.des-of-author {
  font-size: 12px;
  margin: 10px 0;
  color: rgba(0,0,0,.5);
  border-radius: 4px;
  min-height: 120px;
}

.des-of-author-nav {
  width: 105px;
  float: left;
}

.des-of-author-panel {
  margin-left: 105px;
}

.des-of-author-des {
  display: none;

  &.active {
    display: block;
  }
}

.des-of-author-title {
  display: block;
  font-weight: bold;
  cursor: pointer;

  &.active {
    color: $main-color;
    &:after {
      content: "→"
    }
  }
}
