.site-nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;

  button {
    margin-top: 2px;
    padding: 9px 10px;
    background: transparent;
    border: none;
  }
}

.site-nav {
  +tablet() { display: block !important; }
  +desktop() { display: block !important; }
}
